body {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.content {
    margin: auto;
}

.header {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: -28%;
    position: relative;
    z-index: 1;
}
@media (min-width: 800px) {
    .header {
        margin-bottom: -190px;
    }
}
@media (min-width: 992px) {
    .header {
        margin-bottom: -225px;
    }
}
.header__wrapper {
    background-image: url(assets/angles-top.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 1000px auto;
    padding-top: 30px;
    padding-bottom: 120px;
    padding-left: 2em;
    padding-right: 2em;
}
@media (min-width: 340px) {
    .header__wrapper {
        background-size: 1225px auto;
        background-position: center bottom;
    }
}
@media (min-width: 420px) {
    .header__wrapper {
        background-size: 1350px auto;
        background-position: center bottom;
    }
}
@media (min-width: 460px) {
    .header__wrapper {
        background-size: 1800px auto;
        background-position: center top;
        padding-bottom: 155px;
    }
}
@media (min-width: 768px) {
    .header__wrapper {
        background-size: 2000px auto;
        padding-top: 40px;
    }
}
@media (min-width: 992px) {
    .header__wrapper {
        background-size: auto auto;
        padding-top: 60px;
        padding-bottom: 270px;
    }
}
.header:before {
    content: '';
    background-color: #fcfbf4;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
    bottom: 100px;
}
@media (min-width: 768px) {
    .header:before {
        bottom: 110px;
    }
}
@media (min-width: 992px) {
    .header:before {
        bottom: 270px;
    }
}

.header img {
    width: 100%;
    max-width: 250px;
}
@media (min-width: 768px) {
    .header img {
        max-width: 100%;
        width: 300px;
    }
}

@media (min-width: 992px) {
    .header img {
        max-width: 100%;
        width: auto;
    }
}

.header__title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 0.5em;
    margin-top: 0;
}

@media (min-width: 992px) {
    .header__title {
        margin-bottom: 1em;
    }
}

h1, h2 {
    margin-top: 0;
    font-size: 100px;
}

.button-header {
    width: 25%;
    font-size: 20px;
    background-color: #fcfbf4;
    border: 1px solid #D6CD4D;
}

.btn {
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    padding: 0.5em 1em;
    line-height: 1;
    color: #3f5967;
    transition: all 0.25s;
}

@media (min-width: 768px) {
    .btn { font-size: 16px; }
}

@media (min-width: 992px) {
    .btn { font-size: 24px; }
}

.btn--header {
    border-color: #d8d14d;
}

.btn--header:hover {
    background-color: #d8d14d;
}

.btn--mixes {
    border-color: #fff;
}

.btn--mixes:hover {
    background-color: #fff;
}

.main-content {
    background-color: limegreen;
}

.pier {
    padding-top: 100%;
    background-image: url(assets/pier.jpg);
    background-position: center top;
    background-size: cover;
    position: relative;
}

@media (min-width: 800px) {
    .pier {
        padding-top: 775px;
    }
}


@media (min-width: 1575px) {
    .pier {
        background-position: center center;
    }
}

.pier:after {
    content: '';
    background: transparent url(assets/angles-pink.png) center bottom no-repeat;
    background-size: 110% auto;
    height: 50px;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: 1;
}
@media (min-width: 385px) {
    .pier:after {
        height: 100px;
    }
}
@media (min-width: 800px) {
    .pier:after {
        background-size: 105% auto;
        height: 150px;
    }
}
@media (min-width: 1100px) {
    .pier:after {
        background-size: auto auto;
        background-position: center top;
        height: 150px;
    }
}
@media (min-width: 1300px) {
    .pier:after {
        background-size: auto auto;
        background-position: center top;
        height: 200px;
    }
}

.section-header {
    font-size: 24px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .section-header {
        font-size: 70px;
    }
}

.section-header img {
    max-height: 25px;
}

@media (min-width: 768px) {
    .section-header img {
        max-height: 100%;
    }
}

.section {
    padding: 5em 1em;
}

.mixes {
    background: #facbbb none;
    position: relative;
    padding-top: 0 !important;
}

.mixes:before {
    content: '';
    background: transparent url(assets/flavors-dots.png) left top no-repeat;
    background-size: contain;
    width: 100%;
    height: 100px;
    display: block;
    position: absolute;
    top: -30px;
    z-index: 2;
}


.mixes__content {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
    position: relative;
    z-index: 4;
}

@media (min-width: 768px) {
    .mixes__content {
        font-size: 24px;
    }
}

.flavors-pricing {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}

ul {
    list-style: none;
    padding-left: 0;
}

.button-mixes {
    background-color: #facbbb;
    font-size: 20px;
}

.instagram {
    background-color: #fcfbf4;
    background-image: url(assets/instagram-black-swooshes.png), url(assets/instagram-bottom-blue.png);
    background-repeat: no-repeat;
    background-position: top right, bottom left;
    background-size: auto, cover;
}

.insta-images {
    display: flex;
    justify-content: space-around;
}

.insta-image {
    background-color: lightgrey;
    height: 250px;
    width: 250px;
}

.pup {
    position: relative;
    background-color: #d8d14d;
    background-image: url(assets/pupnola-shrubbery.png), url(assets/pupnola-doggo.png);
    background-size: contain, auto;
    background-position: bottom left, bottom right;
    background-repeat: no-repeat;

}

.pup__content {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
}

@media (min-width: 768px){
    .pup__content {
        position: relative;
        max-width: 350px;
        font-size: 24px;
    }
}

.contact {
    background-color: #3f5967;
    border-top: 1px solid #fcfbf4;
    box-sizing: border-box;
    color: #fcfbf4;
}

.contact a {
    text-decoration: none;
}

.contact p {
    display: inline-block;
}

.copyright p {
    display: inline-block;
    margin: 0;
}

a {
    color: inherit;
}

@media only screen and (min-width: 479px){
    .flavors {
        display: block;
    }

    .contact p {
        display: block;
    }

    .divider {
        display: none;
    }
    
    .copyright p {
        display: block;
    }
}
